body {
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: auto;
    width: 1440px;
}

.c-brand-announcement {
    background: #F6F7F8;
    height: 124px;
    width: 1041px;
    padding-left: 46px;
    mix-blend-mode: multiply;
}
.c-brand-name {
    display: inline-block;
    float: left;
    padding-top: 24px;
    width: 119px; 
    height: 57px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    color: #00175A;
}
.c-separator {
    display: inline-block;
    float: left;
    margin-left: 17px;
    height: 57px;
    width: 0px;
    margin-top: 24px;
    border: 2px solid #00175A;
}
.c-announcement {
    display: inline-block;
    float: left;
    margin-top: 35px;
    margin-left: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #00175A;
    vertical-align: center;
}
.c-announcement-content { 
    display: block;
    float: left;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #00175A;
}

.c-product-background {
    position: absolute;
    width: 916px;
    height: 534px;
    left: 673px;
    top: 0px;
    background-image: url('./images/food.png');
    background-repeat: no-repeat;
    z-index: 1;
}

.c-product-value-overlay {
    position: absolute;
    width: 370px;
    height: 219px;
    left: 1070px;
    top: 173px;    
    mix-blend-mode: multiply;
    background: rgba(0, 23, 90, 0.4);
    z-index: 2;
}

.c-product-text {
    position: absolute;
    display: inline-block;
    text-align: right;
    height: 23px;
    width: 162px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    z-index: 5;
}
.c-product-up-to {
    top: 188px;
    left: 1239px;
}
.c-product-in-value {
    top: 351px;
    left: 1239px;
}
.c-product-value {
    position: absolute;
    display: inline-block;
    width: 338px;
    height: 122px;
    top: 216px;
    left: 1070px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 132.817px;
    line-height: 133px;
    /* or 100% */
    text-align: right;
    color: #FFFFFF;
    z-index: 5;
}

.text-uppercase {
    text-transform: uppercase;
}
