/* variables */
$blue: #00175A;
$yellow: #FDB92D;

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 22px;
}
h1 {
    font-size: 42px;
    line-height: 22px;
    color: #FFFFFF;
}
h2 {
    font-size: 28px;
    line-height: 30px;
    color: $blue;
    padding-top: 24px;
    margin: 0;
}
h3 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 18px;
    font-weight: bold;
}
/* utilities */
.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}
.t-left {
    text-align: left;
}
.t-uppercase {
    text-transform: uppercase;
}

.brand-banner {
    .bg {
        background: #F6F7F8;
        height: 125px;
        width: 1040px;
        padding-left: 46px;
    }
    .brand {
        float: left;
        width: 120px; 
        height: 60px;
    }
    .bar {
        display: block;
        float: left;
        margin-left: 17px;
        height: 57px;
        width: 0px;
        margin-top: 24px;
        border: 2px solid $blue;
    }
    .announcement {
        float: left;
        margin-top: 32px;
        margin-left: 15px;
        color: $blue;
    }
    .announcement span { 
        display: block;
        float: left;
        color: $blue;
    }
}

.product-banner{
    .food {
        position: absolute;
        width: 916px;
        height: 534px;
        left: 681px;
        top: 8px;
        background-image: url('./images/food.png');
        background-repeat: no-repeat;
        z-index: 1;
    }
    .overlay {
        position: absolute;
        width: 370px;
        height: 219px;
        left: 397px;
        top: 173px;
        background: rgba(0, 23, 90, 0.4);
        z-index: 2;
    }
    .content {
        position: absolute;
        display: block;
        text-align: right;
        height: 23px;
        font-size: 24px;
        line-height: 23px;
        color: #FFFFFF;
        z-index: 5;
    }
    .up-to {
        top: 15px;
        right: 32px;
    }
    .value {
        position: absolute;
        display: block;
        height: 122px;
        right: 32px;
        top: 43px;
        font-size: 132.817px;
        line-height: 133px;
        color: #FFFFFF;
        z-index: 5;
    }
    .in-value {
        top: 178px;
        right: 32px;
    }
}

.sign-up {
    .bg {
        position: absolute;
        height: 340px;
        top: 115px;
        width: 1440px;
        background-color: $blue;
    }
    .content {
        position: absolute;
        margin-left: 50px;
        margin-top: 40px;
        color: #FFFFFF;
    }
    .barker {
        background: $yellow;
        width: 204px;
        height: 28px;
        padding: 4px 16px;
        border-radius: 25px;
        font-size: 16px;
        line-height: 20px;
    }
    .barker b {
        display: inline-block;
        padding: inherit;
        color: $blue;
    }
    .subscribe {
        margin-top: 30px;
    }
    .enroll {
        margin-top: 12px;
    }
}

.savings {
    .content {
        position: absolute;
        top: 462px;
        width: 1440px;
        height: 333px;
        background: $blue;
    }
    .piggy-bank {
        float: left;
    }
    .calculator {
        height: 100%;
        width: calc(100% - 353px);
        float: left;
    }
    .subtitle {
        margin-top: 20px;
        font-size: 24px;
        line-height: 22px;
        color: #FFFFFF;
        text-align: center;
    }
    .hl {
        color: $yellow;
    }
    .flex-container {
        align-content: space-around;
        margin-top: 20px;
    }
    .item {
        color: #FFFFFF;
    }
    .spacer {
        width: 95px;
    }
    .label {
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
        color: #DCDCDC;
    }
    input {
        width: 235px;
        height: 80px;
        background: #FFFFFF;
        border: 4px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        position: absolute;
        left: 600px;
        top: 170px;
        font-size: 40px;
        line-height: 23px;
        font-weight: bold;
        text-align: right;
    }
    input + span {
        color: rgba(0, 23, 90, 0.71);;
        position: absolute;
        left: 610px;
        top: 200px;
        font-size: 22px;
        line-height: 22px;
        font-weight: bold;
    }
    .amount {
        position: absolute;
        top: 200px;
        left: 990px;
        font-size: 80px;
        line-height: 22px;
        font-weight: bold;
    }

}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: $yellow;
}
.flex-container {
    .item {
        margin: 1em;
        padding: 0.5em;
        min-width: 0;
        overflow: hidden;
        display: flex;
        margin: 1em;
    }
    .auto {
        flex: auto;
    }
    .one {
        flex: 1;
    }
    .jc-end {
        justify-content: end;
    }
    .jc-start {
        justify-content: start;
    }
    .fd-col {
        flex-direction: column;
    }
}